@import 'varible.scss';

.time-panel {
    padding: 8px 20px;
    .date {
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            color: #fff;
            border-radius: 50%;
        }
    }
    .day {
        position: absolute;
        top: -1.875rem;
        color: gray;
        font-size: small;
    }
}

