@import 'varible.scss';

.time-panel {
    padding: 0 20px;
    .date {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
            background-color: $primary-color;
            border-radius: 50%;
            color: white;
        }
        &.active {
            background-color: $primary-color;
            border-radius: 50%;
            color: white;
        }
    }
    .day {
        position: absolute;
        top: -1.875rem;
        color: gray;
        font-size: small;
    }
}

.react-calendar {
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 11px rgba(56, 62, 68, 0.0862772);
}

.react-calendar__tile--now, .react-calendar__tile--now:hover, .react-calendar__tile:hover {
    background-color: $primary-color;
    color: #fff;
}

.react-calendar__tile {
    padding: 11px;
    border-radius: 50%;
}

.now-border {
    border-right: 1px solid #F05252;
    height: 800px;
    position: fixed;
    width: 50%;
    left: 0;
}

.now {
    position: relative;
}